.fixedWidthItemList {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	height: calc(100vh - 72px);
}

@media only screen and (max-width: 960px) {
	.fixedWidthItemList {
		height: calc(100vh - 136px);
	}
}